/*
Assignment: Climbing Project CSS (Project1s)
Author: Brandon Lum
Course: SEI-Flex (2019)
*/

html {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}


.banner-location-container, .navbar-container, .location-container, .content-container {
  display: flex;
}

.content-container {
  margin: 20px;
}


.banner-location-container {
  justify-content: space-between;
  margin-bottom: 5px;
}

.navbar-container {
  background-color: grey;
  border: 1px solid black;
}

.location-container {
  width: 40%;
  border: 1px solid black;
  justify-content: space-between;
}

.weather-bar {
  font-size: 0.7em;
  text-align: center;
  margin: auto;
}

/* .content-container {
  justify-content: space-between;
} */


form input {
  width: 40%;
  text-transform: capitalize;
  /* margin-left: auto; */
}


a {
  color: black;
  text-decoration: none;
}

nav div {
  display: flex;
  width: 70%;
}

div a {
  font-size: 1.5em;
  border: 1px solid black;
  padding: 5px;
  width: 32%;
  text-align: center;
}

#title {
  text-align: left;
  border: 0;
  width: auto;
}

.banner-location-container {
  font-size: 1.5em;
  height: 2em;
}

.carousel-button {
  align-self: center;
  padding: 10px;
  text-align: center;
  font-weight: 800;
  font-size: 5em;
}

.route-card {
  display: none;
}

.climbing-container div:first-of-type {
  display: block;
}

.weather-icon {
  font-size: 1.3em;
  position: relative;
  animation-name: weather-move;
  animation-duration: 5s;
  animation-iteration-count: 1;
  margin: auto;
  margin-right: -20px;
  align-self: center;
}

@keyframes weather-move {
  0% {transform: rotate(30deg);}
  20% {transform: rotate(-30deg);}
  40% {transform: rotate(30deg);}
  65% {transform: rotate(-30deg);}
  80% {transform: rotate(30deg);}
}

/* @media {
  .navbar-container {
    position: sticky;
    top: 0;
  }
} */
